  <div class="black-box">

    <h1>Welcome to InstaData</h1>
    <p>Get awesome analytics of your Instagram profile.
    All you have to do is click the nice button below to
    get started. Have fun!
    </p>


    <%= link_to sessions_path do %>
      <div class="button">    
      <h2>Connect using Instagram</h2>    
      </div>
    <% end %>
    </div>